h2 {
    color: #000000;
}

.container {
    min-width: 768px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#updBtn {
    background-color: #FF9B44;
    box-shadow: 0 0 !important;
    font-weight: bold;
    font-size: 18px;
    text-transform: none !important;
}