#forgot-password_link{
    color: #8e8e8e !important;
}

.icon {
    padding: 10px;
    min-width: 40px;
}

#forgot-password_link:hover {
    text-decoration: underline;
}

#row-password-input i {
    position: absolute;
}

#row-password-input i:hover {
    cursor:pointer;
}

#err_msg {
    color:#FF0000;
    text-align: center;
}