input {
    font-weight: bold;
    color: #000000 !important;
}

body {
    background-color: #FFFFFF;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label, h3 {
    color: #000000 !important;
}

h2, a {
    color: #000000;
}

h7 {
    color: #808080 !important;
}

@media (max-width: 320px) {
    .container, .container-fluid {
          width: 90%;   
    }

}

/* .tableWidthFix {
    width:100%;
} */

table {
    /* table-layout: fixed; */
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    min-width: 280px;
    /* word-wrap: break-word; */
}

@media (width < 768px) {
    /* padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 !important;
    white-space: inherit;
    word-break: break-all; */

    /* @media (max-width: 768px) {
        table th, table td {
            min-width: 100px;
            width: 10px;
        }
    } */

    
}

#dispTable table th:first-child + th {  
    min-width: 1vw;
}

/* ipad_mini_width */
@media screen and (max-width: 800px){
    #dispTable table th, #dispTable table td {
        min-width: 20vw;
    }
}

/* smartphone_standard_width */
@media screen and (max-width: 375px){
   #dispTable table th, #dispTable table td {
        min-width: 25vw;
    }
}

/* mobile_view_minimum_width */
@media screen and (max-width: 280px) {
    #dispTable table th, #dispTable table td {
        min-width: 30vw;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/*------------------------------------------------------
# Menu Header               
------------------------------------------------------*/
.topNav {
    background-image: linear-gradient(to right, #ff9b44 0%, #fc6075 100%) !important;
    color: #FFFFFF;
    z-index: 99;
    height: 50px;
}

.logo_section {
    /* border: 1px solid black; */
    text-align: center;
    display: flex;
    justify-content: center;
}

#logo{
    /* margin: -2.5px 30px -2.5px 30px; */
    width: 1.5rem;
    /* border: 1px dotted red; */
}

.dropdown-divider{
    border-color: #e7e7e7;
}

.dropdown-menu-right {
    right: 0 !important;
    left: auto !important;
 }

.dropdown-menu-center {
left: 50% !important;
right: auto !important;
transform: translate(-50%, 0) !important;
}
 
.dropdown a {
    font-size: 12px;
    font-weight: 500;
}

#language_name {
    font-size: 12px;
}

/* .menuheader-text {
    font-weight: 500;
} */

#accpfp {
    height: 25px;
    width: 25px;
    margin-right: 3px;
}

.fa-bars, .fa-ellipsis-vertical {
    color: #FFFFFF !important;
    font-size: 20px;
}

.badge-color {
    background-color: #7460EE !important;
}

/*------------------------------------------------------
# Menu Bar
------------------------------------------------------*/
@media (max-width: 768px) {
    .menuBar {
        display: none !important;   
    }
}

@media (width > 768px) {
    .sidebar-nav {
        display: none !important;
    }

    body {
        background-color: #FFFFFF !important;
    }
}

.menuBar{
    background-color: #34444C !important;
    color: #AEB7C2;
    z-index: 98;

    .dropdown-menu>li:first-child, .dropdown-menu>li:first-child .dropdown-item, .dropdown-menu>li:last-child, .dropdown-menu>li:last-child .dropdown-item {
        border-top-left-radius:0;
        border-top-right-radius:0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0
    }

    .dropdown-menu{
        margin-top: -16px;
        text-transform: none;
        border-radius: 0;
    }

    .nav-link{
        padding: 16px 15px 16px 15px;
        /* padding: 16px 15px 16px 16px; */
        text-transform: none;
        display: flex;
        align-items: center;
    }

    .nav-link>span{
        margin-left: 5px;
        margin-right: 5px;
    }

    .nav-link, .dropdown-item {
        color: #AEB7C2;
    }

    .mdi{
        font-size:20px !important;
    }
}

.sidebar-nav {
    background-color: #34444C !important;
    color: #AEB7C2;

    display: block;
    float: left;   
    min-width: 200px;
    width: fit-content !important;
    /* height: calc(100vh - 45.59px) !important;  45.59px = menuHeader height
    max-height: 100%; */
    top: 45.59px;       /* 45.59px = menuHeader height */
    bottom: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    overflow-y: scroll;

    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    .container-fluid {
        padding: 0;
    }

    .nav {
        display: flex;
        flex-direction: column;
    }

    .nav-link{
        padding: 16px 15px 16px 15px;
        color: #AEB7C2;
        text-transform: none;
        display: flex;
        align-items: center;
    }

    .nav-link>span{
        margin-left: 10px;
        margin-right: 10px;
    }

    .nav-link>i{
        font-size: 20px;
    }

    .collapse-menu {
        background-color: #5d7b8a !important;
    }
}

.close {
    transform: translate3d(-300px, 0, 0);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}


#sidebar {
    margin-left: -100%;
    height: 0px;
    overflow: auto;
    z-index:1;
}

#sidebar.active {
    margin-left: 0;
    height: auto;
}

.filter_screen {
    background-color: rgba(0,0,0,0.2) !important;
    display: block; 
    width: 100% !important;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    position: fixed;
}


/*---------------------------------------------------------
# login Page / forgotPassword Page / changePassword Page              
---------------------------------------------------------*/
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#logo_element{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}

.login-title, .forgotpass-title {
    text-align: center;
}

.login-title h3, .forgotpass-title h3{
    margin-top:40px;
}

#loginForm, #forgotpassForm {
    background-color: #FFFFFF;  
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px #E4E6E6;
}

#login_btn, #resetpass_btn {
    background-image: linear-gradient(to right, #ff9b44 0%, #fc6075 100%);
    height: 50px;
    margin-bottom: 40px;
}

#back_btn {
    background-image: linear-gradient(to right, #c4c4c4 0%, #8b898a 100%);
    color: #FFFFFF !important;
    height: 50px;
    margin-bottom: 40px;
}

#email-addr_lbl, #password_lbl, #oldpass_lbl, #newpass_lbl, #confirmpass_lbl {
    font-weight: 500;
}

#email-addr_error, #password_error, #err_msg {
    color:#FF0000;
}

/*---------------------------------------------------------
# Common
---------------------------------------------------------*/
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#addBtn {
    background-color: #FF9B44;
    box-shadow: 0 0 !important;
    font-size: 18px;
    text-transform: none !important;
}

#action_menu {
    color: #000000 !important;
}

#action_menu_btn {
    border: 0px;
    background-color: transparent;
    width: 60px;
}

#action_col {
    width: 45px;
    text-align: center !important;
}

#actionBtn {
    background-color: #FF9B44;
    box-shadow: 0 0 !important;
    font-weight: bold;
    font-size: 18px;
    text-transform: none !important;
    white-space: nowrap;
}

/* to fixed dropdown inside responsive table issue */
.table-responsive .dropdown,
.table-responsive .btn-group,
.table-responsive .btn-group-vertical {
    position: static !important;
}

/* search */
.clear{
    clear:both;
    margin-top: 20px;
}

.autocomplete .searchResult{
    list-style: none;
    padding: 0px;
    width: 0px;
    position: absolute;
    margin: 0;
    background: white;
    border: 1px solid #000000;
    border-radius: 4px;
}

.autocomplete .searchResult li{
    background: #F2F3F4;
    padding: 4px;
    margin-bottom: 1px;
    word-wrap: break-word;
}

.autocomplete .searchResult li:nth-child(even){
    background: #E5E7E9;
    color: black;
}

.autocomplete .searchResult li:hover{
    cursor: pointer;
    background: #CACFD2;
}

/* .autocomplete input[type=text]{
    padding: 5px;
    width: 100%;
    letter-spacing: 1px;
} */

#backBtn {
    background-color: #888888;
    box-shadow: 0 0 !important;
    font-weight: bold;
    font-size: 18px;
    text-transform: none !important;
}

.warning_input {
    border-color: #FF0000 !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 129, 0.25) !important;
}

.form_lbl {
    font-weight: 500;
}

#pin_name_lbl, #pin_remark_lbl, #pin_grp_name_lbl, #pin_grp_remark_lbl, #pin_lbl,
#user_grp_name_lbl, #user_grp_remark_lbl, #permission_table_lbl, #desig_name_lbl,
#desig_remark_lbl, #dept_name_lbl, #dept_remark_lbl, #holiday_name_lbl,
#holiday_date_lbl, #brand_name_lbl, #brand_remark_lbl, #pltf_name_lbl, 
#pltf_remark_lbl, #prod_status_name_lbl, #prod_status_remark_lbl, #warehouse_name_lbl,
#warehouse_remark_lbl, #mrtl_name_lbl, #mrtl_remark_lbl, #bank_name_lbl, #bank_remark_lbl,
#em_type_status_name_lbl, #em_type_status_remark_lbl {  
    font-weight: 500;
}

.table-responsive .dataTables_length {
    padding-bottom: 10px;
}