input {
    font-weight: bold;
    color: #000000 !important;
}

body {
    background-color: #F4F6F6;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label, h3 {
    color: #000000 !important;
}

h7 {
    color: #808080 !important;
}

/*------------------------------------------------------
# Login page / Forgot Page               
------------------------------------------------------*/
.loginContainer, .forgotpassContainer {
    min-width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo_element{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}

.login-title, .forgotpass-title {
    text-align: center;
}

.login-title h3, .forgotpass-title h3{
    margin-top:40px;
}

#loginForm, #forgotpassForm {
    background-color: #FFFFFF;  
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px #E4E6E6;
}

#login_btn, #resetpass_btn {
    background-image: linear-gradient(to right, #ff9b44 0%, #fc6075 100%);
    height: 50px;
    margin-bottom: 40px;
}

#email-addr_lbl, #password_lbl {
    font-weight: bold;
}

#email-addr_error, #password_error {
    color:#FF0000;
}